spintax/.vs/spintax/v16/Browse.VC.opendb
redaction/.vs/redaction/v16/Browse.VC.opendb
/solid-spintaxer/Solid Spintaxer/nbproject/private/
/Solid_Investigator/nbproject/private/

Solid-Spintaxer/Solid_Spintaxer/0spintax.txt
Solid-Spintaxer/Solid_Spintaxer/1spintax.txt
Solid-Spintaxer/Solid_Spintaxer/2spintax.txt
Solid-Spintaxer/Solid_Spintaxer/argparse4j-0.8.1.jar
Solid-Spintaxer/Solid_Spintaxer/logfile.txt
Solid-Spintaxer/Solid_Spintaxer/spintax.txt
