
spintax/.vs/spintax/v16/Browse.VC.opendb
redaction/.vs/redaction/v16/Browse.VC.opendb
/solid-spintaxer/Solid Spintaxer/nbproject/private/
/solid-spintaxer/Solid Spintaxer/build/
/solid-spintaxer/Solid Spintaxer/dist/